*{
    border: 0%;
    margin: 0%;
    padding: 0%;
}

.grid{
    display: grid;
     /* grid-template-columns: 1fr 1fr 1fr 1fr; */
     grid-template-columns: repeat(4,1fr);
    /* grid-template-columns: 33% 33% 33% ; */
    grid-template-rows: auto 200px;
    gap: 1em;
    /* column-gap: 1em; */
    /* row-gap: 1em; */

}

.element{
    background: rgb(201, 195, 195) ;
    padding: 1em;
}
.element:hover{
    border: 1px solid rgb(225, 156, 27);
}